.project-card-wrapper img {
  grid-row: 2;
}
.project-card-wrapper a {
  text-decoration: none;
}
.project-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: grid;
  align-items: bottom;
  width: 90%;
  height: 100%;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: var(--bg);
  border: 1px solid #ddd;
  box-shadow: 5px 5px 10px var(--shadow-light);
}
.project-card:hover {
  background-color: var(--bg-light);
  transform: translate(-3px, -3px);
  box-shadow: 0px 0px 4px var(--shadow-lighter);
}
.project-card:active {
  background-color: var(--bg);
  transform: translate(0px, 0px);
  box-shadow: 2px 2px 4px #aaa;
}
.link {
  text-decoration: underline;
}
.project-card-images {
  display: flex;
  justify-content: center;
  align-items: center;
}