.Resume {
  width: 100%;
  max-width: 1800px;
  display: flex;
  justify-content: center;
}
.resume-container {
  position: relative;
  width: 90vw;
  margin-top: 100px;
}
.links-container {
  position: absolute;
  top: -50px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}
.open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  max-height: 50px;
  color: #ccc;
  border-radius: 10px;
  background-color: #131519;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 10px #232323;
  font-size: 1rem;
  font-weight: 400;
}
.open:hover {
  background-color: #272d37;
  transform: translate(-1px, -1px);
  box-shadow: 5px 5px 15px #141516;
}
.open:active{
  background-color: #131519;
  transform: translate(0px, 0px);
  box-shadow: 2px 2px 4px #282d35;
}