.Projects {
  width: 80%;
  max-width: 900px;
}
@media (max-width: 500px) {
  .Projects {
    width: 95%;
  }
}

.projects-header {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #aaa;
}
@media (max-width: 500px) {
  .Projects {
    width: 95%;
  }
}