.Skills {
  position: relative;
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.skill-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: var(--skills-width);
  height: var(--skills-height);
  border: 1px solid black;
  border-radius: 10px;
  background-color: #eee;
  overflow: hidden;
  /* filter: brightness(0%); */
}
.skill-container p {
  display: var(--skills-display);
  position: absolute;
  font-size: .6rem;
  font-weight: bold;
  left: 0;
  bottom: -2px;
  width: 100%;
  text-align: center;
  background-color: var(--shadow-lighter);
}
.skill-container img {
  position: absolute;
  top: 10%;
  height: var(--skills-img-height);
}